aiogram
aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
certifi==
charset-normalizer
click
construct
construct-typing
frozenlist
h11
httpx
idna
joblib
multidict
numpy
pandas
psutil
pycryptodome
python-dotenv
scikit-learn==1.4.1.post1
scipy
solders==0.18.0
solana==0.31.0
soupsieve
threadpoolctl
tokenizers==0.15.2
tomli==2.0.1
tqdm==4.66.2
typing_extensions==4.10.0
urllib3==2.2.0
yarl==1.9.4
